/*Template inspiration: https://developers.google.com/maps/documentation/javascript/examples/marker-simple#maps_marker_simple-typescript, https://developers.google.com/maps/documentation/javascript/examples/marker-symbol-custom#maps_marker_symbol_custom-javascript, add markers and marker shaped symble.*/
/* js sample: add labels*/

#map {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 70px;
  padding: 0;
  background-color: powderblue;
}
h1{
  color: blue;
}
p{
  color: MediumSeaGreen;
}
